* {
  padding: 0;
  margin: 0;
}
:root {
  --yellow: #ffbc03;
  --grey: #555;
  --neon: "Tilt Neon", cursive;
}
body {
  width: 100%;
  font-family: "Sen", sans-serif;
}
main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-family: var(--neon);
}
header {
  padding: 5%;
  height: 280px;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  color: white;
  text-shadow: 0px 5px 10px black;
}
.header-text {
  width: 80%;
}
h1 {
  margin-bottom: 10px;
  font-size: 45px;
  color: var(--yellow);
}
header div div h2:nth-child(3) {
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: lowercase;
  letter-spacing: 2px;
}
header p {
  width: 75%;
  opacity: 0.8;
}
header a {
  display: none;
}
nav a:nth-child(1),
nav a:nth-child(2),
nav a:nth-child(4),
nav a:nth-child(6) {
  display: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  background-color: var(--yellow);
}
nav a {
  width: 150px;
  margin: 10px auto;
  padding: 10px 0;
  background-color: white;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: var(--grey);
}
.onas > div:first-child {
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}
.onas div img {
  width: 100%;
  transform: translateY(-40px);
}
.onas-text h2 {
  font-family: var(--neon);
  text-align: center;
  color: var(--yellow);
}
.onas-text p {
  padding: 5%;
  text-align: center;
  color: var(--grey);
}
.rozdzielacz {
  margin-bottom: 20px;
  width: 100%;
  height: 5px;
  background-color: var(--yellow);
}
.menu {
  padding: 0 5%;
}
.menu h3 {
  font-size: 20px;
  text-align: center;
  color: var(--grey);
}
.menu h2,
.promocje h2 {
  margin-bottom: 20px;
  text-align: center;
  color: var(--yellow);
  font-size: 30px;
}
ul {
  margin: 20px 0;
  line-height: 30px;
}
ul li:nth-child(even) {
  background-color: var(--yellow);
}
li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 10px;
}
ul li p {
  display: inline-block;
}
.button2-zamowienie {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: var(--grey);
  font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  text-align: center;
  color: white;
}
.promocje {
  box-sizing: border-box;
  padding: 5%;
  margin: 0 auto;
  text-align: center;
}
.promocje p {
  margin: 10px;
  color: var(--grey);
}
.stolat,
.zoltyser {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}
.stolat {
  border: 2px solid var(--grey);
}
.stolat h3:first-child,
.zoltyser h3:first-child {
  font-size: 25px;
  text-decoration: underline;
}
.stolat h3:nth-child(3),
.zoltyser h3:nth-child(3) {
  color: red;
}
.zoltyser {
  border: 2px solid var(--yellow);
}
.zamowienie {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding: 35px 30px;
  background-image: url(../images/zamowienie.jpg);
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: right;
  text-align: right;
  color: white;
  text-shadow: 0px 5px 10px black;
}
.zamowienie p {
  width: 50%;
  margin: 10px 0 0 auto;
}
.zamowienie h3 {
  font-weight: 400;
}
.zamowienie h2 {
  letter-spacing: 2px;
}
.img-adres {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
  overflow: hidden;
}
.img-adres img {
  width: 100%;
  transform: translateY(-50px);
}
.adres h2 {
  text-align: center;
  margin-top: 20px;
  color: var(--yellow);
}
.text-adres p {
  padding: 20px;
  color: var(--grey);
  text-align: center;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  margin: 5px auto;
  background-color: var(--yellow);
  margin: 5px auto;
}
.button-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px auto;
  background-color: var(--yellow);
}
footer a {
  display: inline-block;
  width: 150px;
  margin: 20px auto;
  padding: 10px 0;
  background-color: white;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  color: var(--grey);
}
footer p {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  header {
    padding: 10%;
    background-size: 130%;
    background-position: left;
  }
  .pizzeria {
    font-size: 40px;
  }
  header div div h2:nth-child(3) {
    font-size: 20px;
    text-transform: lowercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  .header-text {
    width: 70%;
  }
  h1 {
    font-size: 60px;
  }
  .onas-text h2 {
    font-size: 30px;
  }
  .onas > div:first-child {
    height: 300px;
  }
  .onas div img {
    transform: translateY(-100px);
  }
  .onas-text p {
    font-size: 20px;
  }
  .menu h3 {
    font-size: 30px;
  }
  ul {
    line-height: 40px;
  }
  li {
    padding: 0 30px;
  }
  .zamowienie {
    padding: 50px 30px;
  }
  .img-adres {
    height: 300px;
  }
  .img-adres img {
    transform: translateY(-200px);
  }
  .text-adres p {
    padding: 10px 50px;
  }
}
